* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  width: 100vw;
  background-image: url("images/background4.gif");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 120vw;
}

header,
main {
  background-color: rgba(0, 0, 0, 0.8);
}

@font-face {
  font-family: Toxigenesis;
  src: url(toxigenesis\ bd.otf);
}
.fonte-externa {
  font-family: Toxigenesis;
}

button {
  /* padding: 8px; */
  background: linear-gradient(90deg, #092831 0%, rgba(28, 123, 151, 0) 58%);
  border: none;
  border-radius: 8px;
  display: inline-block;
  color: #ffff;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px;
  text-decoration: none;
}

button {
  transition: all ease-in-out 0.3s;
  max-width: 518px;
}

button:hover {
  background-color: #0a2d38;
  box-shadow: 1px 1px 1px 1px #0a2d38;
  color: #ffff;
}

input:focus {
  outline: none;
}

input {
  font-size: 14px;
}

@keyframes animacao {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 300% 300%;
  }
}

li a {
  text-decoration: none;
  color: white;
}

.connect-wallet {
  cursor: pointer;
  color: white;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  background-size: 150% 150%;
  border-radius: 8px;
  box-shadow: 0 0 10px #12b3eb;
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: 0.2s all;
}

/* HEADER */

header {
  color: #ffff;
  font-family: "Sora", sans-serif;
  width: auto;
  height: auto;
}

#logo-head {
  width: 200px;
}

#logo-head img {
  width: 100%;
}

header .bottom-header {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  transition: all .5s ease-in-out;
  padding: 19px 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 100vw;
}

header .onTop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: none;
}

.bottom-header-content {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
}

header .bottom-header .options-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin: 0 150px;
  list-style: none;
  font-size: 16px;
}

.options-list li {
  transition: all ease-in-out 0.2s;
}

.options-list li:hover {
  opacity: 0.6;
  cursor: pointer;
}

header .button-header {
  display: flex;
  gap: 15px;
}

.menu-container {
  display: none;
}

.hamburger-btn {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.modal-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.modal-menu.active {
  display: flex;
  opacity: 1;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.menu-container .options-list-mobile {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu-container .options-list-mobile li {
  padding: 15px 0;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.menu-container .options-list-mobile li:hover {
  cursor: pointer;
  color: white;
}

/* FORM */

main {
  margin-top: 84px;
  width: auto;
  height: auto;
}
main .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  gap: 20px;
}
main .form .card-form {
  /* width: 40vw; */
  max-width: 100%;
  color: #ffffff;
  background: linear-gradient(90deg, #071a1f 0%, rgba(5, 24, 30, 0.55) 58%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 16px;
}
.card-form .title-form {
  font-size: 25px;
  font-family: Toxigenesis;
}

.card-form .title-live {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: Toxigenesis;
}

.live-indicator {
  width: 10px;
  height: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.live-indicator .blue-dot,
.live-indicator .pulse {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 18px;
  background-color: #2ed0ff;
}

.live-indicator .pulse {
  animation-name: blue-dot-scale-fade;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.live-indicator .pulse.two {
  animation-delay: 0.25s;
}

@keyframes blue-dot-scale-fade {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(2.5);
  }

  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.card-form .stage-button {
  background: linear-gradient(90deg, #092831 0%, rgba(28, 123, 151, 0) 58%);
  border: 1px solid #0a2d38;
  border-radius: 8px;
}

.stage-button button {
  /* padding: 8px; */
  background: linear-gradient(90deg, #092831 0%, rgba(28, 123, 151, 0) 58%);
  border: 1px solid #0a2d38;
  border-radius: 8px;
  display: inline-block;
  color: #ffff;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 12px;
  text-decoration: none;
  font-family: Toxigenesis;
}

.card-form .converter-options {
  font-size: 18px;
  margin-top: -20px;
}

.card-form .buy-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buy-options button {
  background: linear-gradient(90deg, #092831 0%, transparent 58%);
  border: 1px solid #0a2d38;
  border-radius: 25px;
  color: #ffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px 10px 12px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buy-options ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.buy-options li {
  list-style: none;
  margin: 0;
}
.buy-options img {
  margin-right: 8px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

main .card-form .converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

main .card-form .converter input {
  gap: 10px;
  background-color: transparent;
  border: 1px solid #1a6379;
  border-radius: 5px;
  padding: 8px;
  height: 25px;
  width: 500px;
  color: #ffffff;
}

.input-container {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

#pay {
  padding-right: 10px;
}

#payment-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  display: none;
}

main .card-form .converter input:focus {
  border: 1px solid #0e3f4e;
}

.converter label {
  display: block;
  margin-bottom: -12px;
}
.form .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form .buttons .connect-wallet button {
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  background-size: 150% 150%;
  /* font-family: jetbrains mono regular, calibri; */
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px #0a2d38;

  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  transition: 0.2s all;
}

.form .buttons .connect-wallet button:hover {
  box-shadow: 0 0 10px #12b3eb;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  transition: 0.2s all;
  color: #ffff;
}

.form .buttons .how-to-buy button {
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  background-size: 150% 150%;
  /* font-family: jetbrains mono regular, calibri; */
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px #0a2d38;

  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  transition: 0.2s all;
}
.form .buttons .how-to-buy button:hover {
  box-shadow: 0 0 10px #12b3eb;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  transition: 0.2s all;
  color: #ffff;
}

.form .buttons button {
  padding: 8px;
  width: 37vw;
}

.buttons {
  width: 300px;
  margin: 0 15px;
}

/* banner */

main .banner {
  margin-top: 40px;
  background-image: url(images/Presale_V3_02.webp);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 20px;
  color: #ffff;
}
main .banner .banner-area {
  padding: 20px 60px;
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}

main .banner .banner-area .token-img {
  width: 40vw;
  max-width: 800px;
}

main .banner .banner-area .token-img img {
  width: 100%;
  margin: 0 auto;
}

main .banner .banner-area .banner-text {
  width: 600px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  gap: 15px;
}

.banner-text h1 {
  color: #2ed0ff;
  margin-bottom: 15px;
  font-family: toxigenesis;
  font-size: 40px;
}

main .choose-us {
  background-image: url(images/Presale_V3_03.webp);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  gap: 20px;
  color: #ffff;
  text-align: center;
}

main .choose-us .choose-us-card {
  margin-top: 40px;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main .choose-us .choose-us-card .title-choose {
  font-family: Toxigenesis;
}

main .choose-cards {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70vw;
  height: auto;
  gap: 50px;
  padding-top: 20px;
  margin-bottom: 60px;
}
main .choose-card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 30px;
}

main .choose-card h3 {
  margin-top: 25px;
  font-size: 18px;
}

main .choose-card p {
  margin-top: 10px;
  font-size: 14px;
}

main .choose-card img {
  width: 100px;
  height: 120px;
}

main .ai-action {
  background-image: url(images/Presale_V3_04.webp);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  gap: 20px;
  color: #ffff;
  text-align: center;
}
main .ai-action .ai-action-card {
  margin-top: 40px;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main .ai-action-card .title {
  color: #2ed0ff;
  font-family: toxigenesis;
  padding: 3px 0;
  font-size: 30px;
}
main .ai-action-card .subtitle {
  font-weight: lighter;
  padding-bottom: 30px;
  font-size: 30px;
}

main .ai-action-card .descript {
  width: 60%;
  text-align: center;
  padding-bottom: 35px;
  font-size: 20px;
}

main .ai-action-card .ai-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

main .ai-action-card .ai-buttons button {
  width: 200px;
  margin: 0 15px;
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  background-size: 150% 150%;
  /* font-family: jetbrains mono regular, calibri; */
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px #0a2d38;

  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  transition: 0.2s all;
}

.ai-action-card .ai-buttons button:hover {
  box-shadow: 0 0 10px #12b3eb;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  transition: 0.2s all;
  color: #ffff;
}

main .ai-action-card .channels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

main .staking {
  background: linear-gradient(to bottom, #090e0f, #010d11);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  gap: 20px;
  color: #ffff;
  text-align: center;
}

main .staking .card-staking {
  width: 80%;
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

main .staking .card-staking .staking-title {
  color: #2ed0ff;
  font-family: toxigenesis;
  font-size: 25px;
}

main .staking .card-staking .staking-text {
  width: 60%;
  min-width: 317px;
  font-size: 20px;
}

main .staking .card-staking .staking-image{
  width: 80vw;
  max-width: 1100px;
  margin-right: -6%;
  margin: 30px 0;
}

main .staking .card-staking .staking-image img {
  width: 100%;
}


.channels {
  margin-bottom: 12px;
}

.channels img {
  width: 30px;
}

.channels ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.channels li {
  list-style: none;
  margin: 0;
}

.swiper {
  width: 80vw;
  height: 90px;
  margin: 30px 0;
}
.swiper-slide {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px !important;
}
.swiper-slide img {
  width: 100px;
}

main .how-it-works {
  background-image: url(images/Presale_V3_05.webp);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  gap: 20px;
  color: #ffff;
}

main .how-it-works .how-it-works-card {
  /* margin-top: 40px; */
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

main .how-it-works .title {
  color: #2ed0ff;
  font-family: toxigenesis;
  padding: 70px 0;
  font-size: 30px;
  text-align: center;
}

main .how-it-works .how-it-works-card .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 1000px; */
}

main .tokenomics {
  background: linear-gradient(to bottom, #020a0c, #071e25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  color: #ffff;
}

main .tokenomics .tokenomics-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto;
  width: 50vw;
  font-family: Toxigenesis;
}


main .tokenomics .tokenomics-card .title h1 {
  font-size: 30px;
}
  
main .tokenomics .tokenomics-card .title {
  font-size: 18px;
}

main .tokenomics .tokenomics-card .progress-value h1 {
  font-size: 18px;
}

main .tokenomics .tokenomics-card .coin{
  margin: 50px 0;
}

main .percents {
  width: 100%;
}

main .percents .progress-container {
  width: 100%;
  background-color: #0e3f4d;
  border-radius: 5px;
  padding: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main .percents .percents-text {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: start;
  gap: 30px;
  margin-bottom: 10px;
}

main .percents .percents-text .title {
  color: #2ed0ff;
}

main .percents .progress {
  display: flex;
  align-items: center;
}

main .percents .progress-bar {
  width: 0;
  height: 10px;
  background-color: #2ed0ff;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: white;
  animation: progress-animation 2s ease-in-out forwards;
}

main .percents .progress-bar-15 {
  width: 0;
  height: 10px;
  background-color: #2ed0ff;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: white;
  animation: progress-animation-15 2s ease-in-out forwards;
}

main .percents .progress-bar-10 {
  width: 0;
  height: 10px;
  background-color: #2ed0ff;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: white;
  animation: progress-animation-10 2s ease-in-out forwards;
}

main .percents .progress-bar-5 {
  width: 0;
  height: 10px;
  background-color: #2ed0ff;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: white;
  animation: progress-animation-5
   2s ease-in-out forwards;
}

main .percents .progress-value {
  margin-left: 10px;
  color: #2ed0ff;
  font-family: Toxigenesis;
  color: #2ed0ff;
}


@keyframes progress-animation {
  0% {
      width: 0;
  }
  100% {
      width: 65%;
  }
}

@keyframes progress-animation-15 {
  0% {
      width: 0;
  }
  100% {
      width: 15%;
  }
}

@keyframes progress-animation-10 {
  0% {
      width: 0;
  }
  100% {
      width: 10%;
  }
}

@keyframes progress-animation-5 {
  0% {
      width: 0;
  }
  100% {
      width: 5%;
  }
}


main .notebook {
  background: linear-gradient(to bottom, #010d11, #090e0f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
main .notebook .notebook-card {
  width: 80vw;
  max-width: 800px;
  margin: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

main .notebook .notebook-card .notebook-title {
  color: #2ed0ff;
  font-family: toxigenesis;
  font-size: 25px;
}

main .notebook .notebook-card .notebook-text{
  color: #ffffff;
  font-size: 15px;
  text-align: center;
}

main .notebook .notebook-card img{
  width: 100%;
  margin-left: -20px;
  margin: 30px 0;
}

main .giveaway {
  background: linear-gradient(to bottom, #090e0f, #010d11);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

main .giveaway .giveaway-card {
  width: 80vw;
  max-width: 1100px;
  margin-right: -6%;
  margin: 30px 0;
}

main .giveaway .giveaway-card img {
  width: 100%;
}

main .apostrofo{
  background: linear-gradient(to bottom, #010d11, #090e0f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

main .apostrofo .apostrofo-card{
  width: 80vw;
  max-width: 800px;
  margin: 50px 30px;
}

main .apostrofo .apostrofo-card img {
  width: 100%;
}

main .ai-startups {
  background: linear-gradient(to bottom, #090e0f, #010d11);
  /* background-size: cover; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px auto;
  gap: 20px;
  color: #ffff;
  text-align: center;
}

main .ai-startups .ai-startups-card {
  color: #ffffff;
  background: rgba(5, 24, 30, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  margin: 80px auto;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 8px;
}

.ai-startups .ai-startups-card h1 {
  font-family: toxigenesis;
}

.ai-startups .ai-startups-card .ai-startups-text{
  width: 80%;
}

.ai-startups .ai-startups-text {
  width: min-content;
  max-width: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ai-startups .startup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding: 40px 10px 5px 10px;
  gap: 30px;
}

.ai-startups .startup-buttons button {
  width: 200px;
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  background-size: 150% 150%;
  /* font-family: jetbrains mono regular, calibri; */
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px #0a2d38;

  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  transition: 0.2s all;
}

.ai-startups .startup-buttons button:hover {
  box-shadow: 0 0 10px #12b3eb;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  transition: 0.2s all;
  color: #ffff;
}

.faq {
  margin: 0 auto;
  padding: 2rem;
  background: linear-gradient(to bottom, #010d11, #090e0f);
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.faq-title {
  color: #2ed0ff;
  font-family: toxigenesis;
  font-size: 25px;
  text-align: center;
}
.faq h3 {
  font-weight: 400;
  text-align: center;
}
.accordion {
  max-width: 900px;
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-button {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #7288a2;
  font-size: 1.15rem;
  padding: 10px 10px;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion .accordion-button:hover, .accordion .accordion-button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordion .accordion-button:hover::after, .accordion .accordion-button:focus::after {
  cursor: pointer;
  color: #03b5d2;
}
.accordion .accordion-button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion .accordion-button svg {
  display: inline-block;
  width: 22px;
  height: 22px;
}
.accordion .accordion-button[aria-expanded='true'] {
  color: #03b5d2;
}
.accordion .accordion-button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion .accordion-button[aria-expanded='true'] + .accordion-content {
  max-height: 14em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

footer {
  width: 100%;
  overflow-x: hidden;
  background-image: url("images/4693486_View_Travel_Globe_1920x1080.gif");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

footer .footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 30px auto; */
  background: transparent rgb(0, 0, 0, 0.4);
}

footer .footer {
  padding: 80px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
  background: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); /* Desfoque */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(10px);
  z-index: -1; /* Para ficar atrás do conteúdo */
}

.parent-container {
  position: relative;
}

footer .footer .footer-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 130px;
  /* gap: 400px; */
}

footer .footer .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
footer .footer .logo img {
  width: 250px;
  margin-bottom: 10px;
}

footer .footer .logo p {
  font-size: 10px;
}

footer .our-sociais {
  color: #ffffff;
}

footer .our-sociais p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .channels {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .channels img {
  width: 30px;
}

footer .text {
  color: #ffffff;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}
footer .footer .footer-card .text hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff; /* cor da linha */
  margin: 10px 0; /* espaçamento acima e abaixo da linha */
}

footer .text p {
  font-size: 10px;
}

@media screen and (max-width: 1126px) {
  main {
    margin-top: 97px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-size: 200vw;
  }
}

/* Media Screen para notebooks */
@media screen and (max-width: 1070px) {
  body {
    background-size: 2000px;
  }
  .menu-container {
    display: block;
  }
  header .bottom-header {
    padding: 15px 0px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    width: 100%;
  }
  header .onTop {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: none;
  }
  header .bottom-header .options-list {
    display: none;
  }
  header .bottom-header .connect-wallet {
    display: none;
  }
  main {
    margin-top: 90px;
  }
  main .form .buttons button {
    width: 80vw;
  }
  main .banner .banner-area {
    flex-direction: column-reverse;
  }
  main .how-it-works .title {
    font-size: 24px;
  }
  main .how-it-works .how-it-works-card .image {
    width: 90vw;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
  main .how-it-works .how-it-works-card .image img {
    width: 100%;
  }
  footer .ai-startups .ai-startups-card {
    margin: 70px auto;
    padding: 30px 50px;
  }
  .ai-startups .startup-buttons {
    gap: 15px;
  }
  footer .footer .footer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  footer .footer .footer-card h4 {
    margin: 0 auto;
  }
  footer .footer .footer-card .text {
    text-align: center;
  }
}

/* Media Screen para tablets */

@media screen and (max-width: 768px) {
  body {
    background-size: 1900px;
  }
  .card-form .title-form {
    font-size: 18px;
  }
  .card-form .buy-options {
    gap: 3px;
  }
  .buy-options button {
    font-size: 14px;
    padding: 10px 10px;
  }
  main .card-form .converter form {
    display: flex;
    flex-direction: column;
  }
  main .card-form .converter input {
    max-width: 80vw;
  }
  main .banner .banner-area .banner-text h1 {
    font-size: 24px;
  }
  main .banner .banner-area .banner-text {
    font-size: 16px;
    text-align: justify;
    min-width: 310px;
    max-width: 80vw;
  }
  main .notebook .notebook-card .notebook-title {
    font-size: 16px;
  }
  main .ai-action-card .title {
    font-size: 24px;
  }
  main .ai-action-card .subtitle {
    font-size: 24px;
  }
  main .ai-action-card .ai-buttons {
    gap: 10px;
  }
  main .ai-action-card .descript {
    text-align: justify;
    min-width: 310px;
  }
  main .staking .staking-text {
    text-align: justify;
  }
  main .notebook .notebook-card .notebook-text {
    text-align: justify;
  }
  main .tokenomics .tokenomics-card .title h1 {
    font-size: 24px;
  }
  main .tokenomics .tokenomics-card .percents .title{
    font-size: 18px;
  }
  main .tokenomics .tokenomics-card .coin{
    width: 90vw;
    max-width: 800px;
  }
  main .tokenomics .tokenomics-card .coin img{
    width: 100%;
  }
  footer .ai-startups .ai-startups-card h1 {
    font-size: 24px;
  }
}

/* Media Screen para mobile */
@media screen and (max-width: 540px) {
  body {
    background-size: 2000px;
  }
  main .form {
    padding: 0;
    max-width: 90%;
    margin: 0 auto;
  }
  main .form .card-form {
    padding: 40px 5px;
  }
  main .card-form .converter form {
    margin-left: 0;
  }
  main .card-form .converter input {
    max-width: 80vw;
  }
  main .ai-action-card .ai-buttons {
    flex-direction: column;
  }
  main .ai-action-card .ai-buttons button  {
    width: 90vw;
  }
  main .tokenomics .tokenomics-card .percents-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  main .percents {
    width: 80vw;
  }
  main .ai-startups .ai-startups-card h1 {
    font-size: 24px;
  }
  .ai-startups .startup-buttons {
    flex-direction: column;
    padding: 40px 0;
  }
  .ai-startups .startup-buttons button {
    width: 90vw;
  }
  footer .ai-startups .ai-startups-card {
    padding: 20px 25px;
  }
}
