* {
  margin: 0;
  padding: 0;
}
html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  font-family: "Sora", sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100vw;
}
html {
  color-scheme: dark;
}

.fonte-externa {
  font-weight: 700;
}
p {
  font-weight: 300;
}
h1{
  font-weight: 700;
  font-family: NeuePlak;
}
h3{
  font-weight: 600;
}
button {
  font-weight: 600;
  border: none;
  border-radius: 8px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px;
  text-decoration: none;
}
button {
  transition: all ease-in-out 0.3s;
  max-width: 518px;
}
#menu-mobile button {
  max-width: 190px;
}
button:hover {
  background-color: #0a2d38;
  box-shadow: 1px 1px 1px 1px #0a2d38;
  color: #fff;
}
input:focus {
  outline: none;
}
input {
  font-size: 14px;
}
@keyframes animacao {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 300% 300%;
  }
}
li a {
  text-decoration: none;
  color: #fff;
}

#bnbInput, #novisInput {
  color: #fafafa !important;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* loading */

.container-loading {
  margin: auto;
  position: relative;
}
.face{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #092831 10%, rgba(20, 66, 80, 0.98) 88%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99999;
  }
.loading {
  width: 130px;
  display: block;
  height: 2px;
  margin: 28px auto; 
  border-radius: 2px;
  background-color: #cfcfcf;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.loading:before {
  content:'';
  height: 3px;
  width: 68px;
  position: absolute;
  -webkit-transform: translate(-34px, 0);
  -ms-transform: translate(-34px, 0);
  transform: translate(-34px, 0);
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  border-radius: 2px;
  -webkit-animation: initial-loading 1.5s infinite ease;
  animation: animation 1.4s infinite ease;
}
@-webkit-keyframes animation {
  0% {
      left: 0
  }
  50% {
      left: 100%
  }
  100% {
      left: 0
  }
}
@keyframes animation {
  0% {
      left: 0
  }
  50% {
      left: 100%
  }
  100% {
      left: 0
  }
}
.face .container > img {
   background: #0274b3;
-webkit-box-shadow: 0px 7px 20px 2px rgba(167, 167, 167, 0.60);
        box-shadow: 0px 7px 20px 2px rgba(167, 167, 167, 0.60);
 border-radius: 2px;
animation: bounce 1.4s ease infinite;
-webkit-animation: bounce 1.4s ease infinite;
-moz-animation: bounce 1.4s ease infinite;
-ms-animation: bounce 1.4s ease infinite;
-o-animation: bounce 1.4s ease infinite;
}
@-webkit-keyframes bounce {
  0% {
  -webkit-transform: scale(1) ;
          transform: scale(1) ;
  -webkit-filter: blur(0);
          filter: blur(0);    
  }
  50% {
  -webkit-transform: scale(.9) ;
          transform: scale(.9) ;
  -webkit-filter: blur(1.4);
          filter: blur(1.4);
  -webkit-box-shadow: 0px 0.3px 5px .5px rgb(167, 167, 167);
          box-shadow: 0px 0.3px 5px .5px rgb(167, 167, 167);
  }
    100% {
  -webkit-transform: scale(1) ;
          transform: scale(1) ;
        
  }
}

@keyframes bounce {
  0% {
  -webkit-transform: scale(1) ;
          transform: scale(1) ;
  -webkit-filter: blur(0);
          filter: blur(0);    
  }
  50% {
  -webkit-transform: scale(.9) ;
          transform: scale(.9) ;
  -webkit-filter: blur(1.4);
          filter: blur(1.4);
  -webkit-box-shadow: 0px 0.3px 5px .5px rgb(167, 167, 167);
          box-shadow: 0px 0.3px 5px .5px rgb(167, 167, 167);
  }
    100% {
  -webkit-transform: scale(1) ;
          transform: scale(1) ;
        
  }
}  

.background {
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.background::before {
  --size: 2.75rem;
  --line: color-mix(in oklch, canvasText, transparent 85%);
  content: '';
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    var(--line) 0.0625rem,
    transparent 0.0625rem var(--size)
    )
    50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 0.0625rem, transparent 0.0625rem var(--size)) 50% 50% / var(--size) var(--size);
  mask: linear-gradient(-20deg, transparent 50%, #f0f0f0);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  position: fixed;
  z-index: -1;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #04152f;
}

.background span {
  opacity: .1;
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #0dcaf0;
  top: 29%;
  left: 67%;
  animation-duration: 14.3s;
  animation-delay: -5.9s;
  transform-origin: -20vw 6vh;
  box-shadow: 40vmin 0 11.0098398754vmin currentColor;
}
.background span:nth-child(2) {
  color: #0a58ca;
  top: 39%;
  left: 31%;
  animation-duration: 11.7s;
  animation-delay: -9.5s;
  transform-origin: -15vw -4vh;
  box-shadow: 40vmin 0 10.592694096vmin currentColor;
}
.background span:nth-child(3) {
  color: #ccc;
  top: 82%;
  left: 91%;
  animation-duration: 14.4s;
  animation-delay: -15.4s;
  transform-origin: -7vw 24vh;
  box-shadow: 40vmin 0 13.3977108744vmin currentColor;
}
.background span:nth-child(4) {
  color: #ccc;
  top: 6%;
  left: 8%;
  animation-duration: 14.7s;
  animation-delay: -8.8s;
  transform-origin: 14vw -10vh;
  box-shadow: -40vmin 0 6.1958427047vmin currentColor;
}
.background span:nth-child(5) {
  color: #ccc;
  top: 50%;
  left: 83%;
  animation-duration: 15.3s;
  animation-delay: -12s;
  transform-origin: -2vw -2vh;
  box-shadow: -40vmin 0 14.2982493953vmin currentColor;
}
.background span:nth-child(6) {
  color: #0dcaf0;
  top: 37%;
  left: 41%;
  animation-duration: 13.5s;
  animation-delay: -12s;
  transform-origin: -8vw -2vh;
  box-shadow: 40vmin 0 12.3933215343vmin currentColor;
}
.background span:nth-child(7) {
  color: #0a58ca;
  top: 3%;
  left: 55%;
  animation-duration: 10.6s;
  animation-delay: -1.5s;
  transform-origin: -19vw 5vh;
  box-shadow: -40vmin 0 10.5932605475vmin currentColor;
}
.background span:nth-child(8) {
  color: #0a58ca;
  top: 49%;
  left: 37%;
  animation-duration: 10.7s;
  animation-delay: -12.3s;
  transform-origin: -15vw -14vh;
  box-shadow: -40vmin 0 12.2073515997vmin currentColor;
}
.background span:nth-child(9) {
  color: #0a58ca;
  top: 48%;
  left: 79%;
  animation-duration: 11.5s;
  animation-delay: -9.9s;
  transform-origin: 4vw 5vh;
  box-shadow: 40vmin 0 9.901081917vmin currentColor;
}
.background span:nth-child(10) {
  color: #0dcaf0;
  top: 76%;
  left: 100%;
  animation-duration: 12.8s;
  animation-delay: -5.1s;
  transform-origin: 23vw 18vh;
  box-shadow: 40vmin 0 14.5515380337vmin currentColor;
}
.background span:nth-child(11) {
  color: #ccc;
  top: 40%;
  left: 63%;
  animation-duration: 13.9s;
  animation-delay: -5.9s;
  transform-origin: -14vw -9vh;
  box-shadow: 40vmin 0 6.324278532vmin currentColor;
}
.background span:nth-child(12) {
  color: #0a58ca;
  top: 62%;
  left: 64%;
  animation-duration: 13.3s;
  animation-delay: -2.7s;
  transform-origin: -6vw 25vh;
  box-shadow: 40vmin 0 10.3160526462vmin currentColor;
}
.background span:nth-child(13) {
  color: #ccc;
  top: 88%;
  left: 70%;
  animation-duration: 11.6s;
  animation-delay: -2.2s;
  transform-origin: -22vw -22vh;
  box-shadow: -40vmin 0 14.3683003464vmin currentColor;
}
.background span:nth-child(14) {
  color: #0dcaf0;
  top: 42%;
  left: 32%;
  animation-duration: 15.5s;
  animation-delay: -4s;
  transform-origin: -17vw 2vh;
  box-shadow: -40vmin 0 5.9070309582vmin currentColor;
}
.background span:nth-child(15) {
  color: #ccc;
  top: 17%;
  left: 67%;
  animation-duration: 11.6s;
  animation-delay: -12.3s;
  transform-origin: 21vw 3vh;
  box-shadow: -40vmin 0 13.4425517774vmin currentColor;
}
.background span:nth-child(16) {
  color: #0dcaf0;
  top: 53%;
  left: 96%;
  animation-duration: 12.7s;
  animation-delay: -12.8s;
  transform-origin: 24vw 25vh;
  box-shadow: 40vmin 0 10.8316321058vmin currentColor;
}
.background span:nth-child(17) {
  color: #0dcaf0;
  top: 71%;
  left: 39%;
  animation-duration: 16s;
  animation-delay: -1.3s;
  transform-origin: 25vw 24vh;
  box-shadow: -40vmin 0 11.70618613vmin currentColor;
}
.background span:nth-child(18) {
  color: #ccc;
  top: 97%;
  left: 59%;
  animation-duration: 12.9s;
  animation-delay: -3.1s;
  transform-origin: -24vw 0vh;
  box-shadow: 40vmin 0 14.0106685115vmin currentColor;
}
.background span:nth-child(19) {
  color: #ccc;
  top: 44%;
  left: 77%;
  animation-duration: 10.8s;
  animation-delay: -11.7s;
  transform-origin: -19vw -11vh;
  box-shadow: -40vmin 0 13.5384768356vmin currentColor;
}
.background span:nth-child(20) {
  color: #ccc;
  top: 24%;
  left: 94%;
  animation-duration: 10.8s;
  animation-delay: -4.4s;
  transform-origin: 23vw -6vh;
  box-shadow: 40vmin 0 6.6297692241vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

#menu-mobile {
  z-index: 999;
  position: relative;
}

#menu-mobile a {
  text-decoration: none;
  color: #4E62F7;
}

#menu-mobile .botao {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
}

#bg-menu-mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  background: #04152f;
  will-change: transform;
}

#menu-mobile ul {
  width: 100%;
  position: absolute;
  top: 100px;
  left: 25px; 
  /*left: 0;*/
  list-style: none;
  color: #fff;
  z-index:99;
  display: none;
}

#menu-mobile ul li {
  font-weight:300;
  font-size: 30px;
  position: relative;
  margin-bottom: 30px;
  left:100%;
  cursor: pointer;
  will-change: transform;
}

#menu-mobile ul li:hover {
  color: #111;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* hang burger */

#hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 40px auto;
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: 35px;
  background-color: transparent;
  z-index: 9999;
  display: none;
}

#hamburger:hover span:nth-child(1) {
  top: 0;
  -webkit-transition: .20s ease-in-out;
  -moz-transition: .20s ease-in-out;
  -o-transition: .20s ease-in-out;
  transition: .20s ease-in-out;
}

#hamburger:hover span:nth-child(3) {
  top: 20px;
  -webkit-transition: .16s ease-in-out;
  -moz-transition: .16s ease-in-out;
  -o-transition: .16s ease-in-out;
  transition: .16s ease-in-out;
}

#hamburger span {
  z-index: 3;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .20s ease-in-out;
  -moz-transition: .20s ease-in-out;
  -o-transition: .20s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2) {
  top: 10px;
}

#hamburger span:nth-child(3) {
  top: 20px;
}

#hamburger.open span:nth-child(1) {
  top: 14px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background-color: #fff;
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -30px;
  -webkit-transition: .16s ease-in-out;
  -moz-transition: .16s ease-in-out;
  -o-transition: .16s ease-in-out;
  transition: .16s ease-in-out;
}

#hamburger.open span:nth-child(3) {
  top: 14px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background-color: #fff;
}

.connect-wallet {
  cursor: pointer;
  color: #fff;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  background-size: 150% 150%;
  border-radius: 8px;
  box-shadow: 0 0 10px #12b3eb;
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: 0.2s all;
}
header {
  color: #fff;
  font-family: Sora, sans-serif;
  width: auto;
  height: auto;
}

#account .contbtn-content {
  font-size: 12px;
  background: #04152f;
}

#account svg {
  max-width: 24px;
}

.change-language {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 10px;
  position: relative;
}
.change-language select {
  background: transparent;
  color: #cacaca;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.change-language option {
  color: #000;
}
.change-language .flag-language {
  width: 30px;
}
.change-language .flag-language img {
  width: 100%;
}
main {
  margin-top: 84px;
  width: auto;
  height: auto;
}
.apresentation {
  padding-top: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), transparent);
}
.apresentation-text {
  color: #cacaca;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}
.apresentation-text h5 {
  color: #fff;
  font-size: 24px;
}
.apresentation-text h1 {
  font-family: Sora, sans-serif;
  font-size: 34px;
  font-weight: 900;
  background: -webkit-linear-gradient(left,#12bcda, #fafafa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.apresentation h7 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.apresentation .paragraphs {
  margin: 20px 0;
}
.apresentation p {
  color: #fff;
}
.apresentation .check {
  margin-bottom: 5px;
}
.apresentation .apresentation-actions {
  display: flex;
  align-items: center;
}
.apresentation .apresentation-actions .apresentation-button {
  font-size: 14px;
  text-decoration: none;
  color: white;
  background: linear-gradient(104deg, rgb(0, 115, 255) 0%, rgb(170, 170, 170) 94%);
  border-radius: 58px;
  padding: 2px;
}
.apresentation-button-content {
  background-color: rgb(2, 7, 13);
  border-radius: 58px;
  padding: 9px 24px;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: all .3s ease-in-out;
}
.apresentation .apresentation-actions .apresentation-button:hover > .apresentation-button-content {
  background: transparent;
  color: #071a1f;
}
.apresentation .apresentation-actions .socials ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-top: 14px;
}
.apresentation .apresentation-actions .socials ul img {
  width: 28px;
  transition: opacity .2s ease-in-out;
}
.apresentation .apresentation-actions .socials ul img:hover {
  opacity: .7;
}
main .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  gap: 20px;
}
main .form .card-form {
  max-width: 100%;
  color: #fff;
  background: linear-gradient(90deg, #071a1f 0%, rgba(5, 24, 30, 0.55) 58%);
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 16px;
}
.card-form .title-form {
  font-size: 25px;
    font-weight: 700;
}
.card-form .title-live {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
    font-weight: 700;
}
.live-indicator {
  width: 10px;
  height: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.live-indicator .blue-dot,
.live-indicator .pulse {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 18px;
  background-color: #2ed0ff;
}
.live-indicator .pulse {
  animation-name: blue-dot-scale-fade;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.live-indicator .pulse.two {
  animation-delay: 0.25s;
}
@keyframes blue-dot-scale-fade {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(2.5);
  }
  to {
    opacity: 0;
    transform: scale(2.5);
  }
}
.card-form .stage-button {
  background: linear-gradient(90deg, #092831 0%, rgba(28, 123, 151, 0) 58%);
  border: 1px solid #0a2d38;
  border-radius: 8px;
}
.stage-button button {
  background: linear-gradient(90deg, #092831 0%, rgba(28, 123, 151, 0) 58%);
  border: 1px solid #0a2d38;
  border-radius: 8px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 12px;
  text-decoration: none;
  font-weight: 700;
}

.card-form .converter-options {
  font-size: 18px;
  margin-top: -20px;
}
.card-form .buy-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.buy-options button {
  background: linear-gradient(90deg, #092831 0%, transparent 58%);
  border: 1px solid #0a2d38;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px 10px 12px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buy-options ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.buy-options li {
  list-style: none;
  margin: 0;
}
.buy-options img {
  margin-right: 8px;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
main .card-form .converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
main .card-form .converter input {
  gap: 10px;
  background-color: transparent;
  border: 1px solid #1a6379;
  border-radius: 5px;
  padding: 8px;
  height: 25px;
  width: 500px;
  color: #fff;
}
.input-container {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
#pay {
  padding-right: 10px;
}
#payment-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  display: none;
}
main .card-form .converter input:focus {
  border: 1px solid #0e3f4e;
}
.converter label {
  display: block;
  margin-bottom: -12px;
}
.form .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.form .buttons .connect-wallet button {
  cursor: pointer;
  color: #fff;
  border: 1px solid transparent;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  background-size: 150% 150%;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px #0a2d38;
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: 0.2s all;
}
.form .buttons .connect-wallet button:hover {
  box-shadow: 0 0 10px #12b3eb;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: 0.2s all;
  color: #fff;
}
.form .buttons .how-to-buy button {
  cursor: pointer;
  color: #fff;
  border: 1px solid transparent;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  background-size: 150% 150%;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px #0a2d38;
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: 0.2s all;
}
.form .buttons .how-to-buy button:hover {
  box-shadow: 0 0 10px #12b3eb;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: 0.2s all;
  color: #fff;
}
.form .buttons button {
  padding: 8px;
  width: 37vw;
}
.buttons {
  width: 300px;
  margin: 0 15px;
}
main .banner {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, .9), rgba(0, 0, 0, .8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 20px;
  color: #fff;
}
main .banner .banner-area {
  padding: 20px 60px;
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}
main .banner .banner-area .token-img {
  width: 40vw;
  max-width: 800px;
}
main .banner .banner-area .token-img img {
  width: 100%;
  margin: 0 auto;
}
main .banner .banner-area .banner-text {
  width: 600px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 15px;
}
.banner-text h1 {
  color: #2ed0ff;
  margin-bottom: 15px;
  font-size: 40px;
  text-align: center;
}
main .choose-us {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  gap: 20px;
  color: #fff;
  text-align: center;
}
main .choose-us .choose-us-card {
  margin-top: 40px;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.newfont {
    font-weight: 700;
}
main .choose-us .choose-us-card .title-choose {
    font-weight: 700;
}
main .choose-cards {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70vw;
  max-width: 1800px;
  height: auto;
  gap: 50px;
  padding-top: 20px;
  margin-bottom: 60px;
}
main .choose-card {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 30px;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  min-height: 428px;
  border: 1px solid rgba(0, 115, 255, 0.28);
  background-color: rgba(2, 22, 47, 0.07);
  border-radius: 16px;
  box-shadow: inset 1px 9px 58px rgba(170, 170, 170, 0.09);

}
main .choose-card h3 {
    font-weight: 600;
  margin-top: 25px;
  font-size: 18px;
}
main .choose-card p {
  margin-top: 10px;
  font-size: 14px;
}
main .choose-card img {
  width: 100px;
  height: 120px;
}
main .ai-action {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1), #020a0c, #071e25, #071e25, #071e25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  gap: 20px;
  color: #fff;
  text-align: center;
}
main .ai-action .ai-action-card {
  margin-top: 40px;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .ai-action-card .title {
  color: #2ed0ff;
    font-weight: 700;
  padding: 3px 0;
  font-size: 30px;
}
main .ai-action-card .subtitle {
  font-weight: lighter;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
}
main .ai-action-card .descript {
  width: 60%;
  text-align: center;
  padding-bottom: 35px;
  font-size: 20px;
}
main .ai-action-card .ai-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
main .ai-action-card .ai-buttons button {
  width: 200px;
  margin: 0 15px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  background-size: 150% 150%;
  box-shadow: 1px 1px 1px 1px #0a2d38;
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: 0.2s all;

  border-radius: 100px;
  border-radius: 58px;
  padding: 2px;
}
main .ai-action-card .ai-buttons button .ai-buttons-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #071e25;
  border-radius: 58px;
  padding: 9px 24px;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 3px;
}
.ai-action-card .ai-buttons button:hover {
  box-shadow: 0 0 10px #12b3eb;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: 0.2s all;
  color: #fff;
}
main .staking {
  background: linear-gradient(to top, #020a0c, #071e25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  gap: 20px;
  color: #fff;
  text-align: center;
}
main .staking .card-staking {
  width: 80%;
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
main .staking .card-staking .staking-title {
  color: #2ed0ff;
    font-weight: 700;
  font-size: 25px;
}
main .staking .card-staking .staking-text {
  width: 60%;
  min-width: 317px;
  font-size: 20px;
}
main .staking .card-staking .staking-image {
  width: 80vw;
  max-width: 1100px;
  margin: 30px 0;
}
main .staking .card-staking .staking-image img {
  width: 100%;
}
.channels {
  margin-bottom: 12px;
}
.channels img {
  width: 30px;
}
.channels ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.channels li {
  list-style: none;
  margin: 0;
}
.swiper {
  width: 80vw;
  max-width: 1800px;
  height: 90px;
  margin: 30px 0;
}
.swiper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-slide {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px !important;
}
.swiper-slide img {
  width: 40px;
}

.swiper-container-with-shadow {
  position: relative;
  width: 100%;
}

.swiper-container-with-shadow::before,
.swiper-container-with-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px; /* Largura da sombra */
  pointer-events: none; /* Não interferir no carrossel */
  z-index: 10;
}

.swiper-container-with-shadow::before {
  left: 0;
  background: linear-gradient(to right,rgba(7, 30, 37, 0.5), rgba(7, 30, 37, 0));
}

.swiper-container-with-shadow::after {
  right: 0;
  background: linear-gradient(to left, rgba(7, 30, 37, 0.5), rgba(7, 30, 37, 0));
}

main .how-it-works {
  background: #020a0c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  gap: 20px;
  color: #fff;
}
main .how-it-works .how-it-works-card {
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
main .how-it-works .how-it-works-card .title {
  color: #2ed0ff;
  padding: 70px 0;
  font-size: 30px;
  text-align: center;
    font-weight: 700;
}
main .how-it-works .how-it-works-card .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .tokenomics {
  background: linear-gradient(to bottom, #020a0c, #071e25, rgba(7, 30, 37, .9), rgba(0, 0, 0, .8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  color: #fff;
}
main .tokenomics .tokenomics-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto;
  width: 50vw;
}
main .tokenomics .tokenomics-card .container-lock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .tokenomics .tokenomics-card .lock {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: solid 1px #6b6b6b;
  font-size: 12px;
  background: linear-gradient(90deg, #092831 0%, transparent 58%);
}
main .tokenomics .tokenomics-card .title h1 {
  font-size: 40px;
  margin-bottom: -40px;
}
main .tokenomics .tokenomics-card .progress-value h1 {
  font-size: 18px;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .tokenomics .tokenomics-card .coin {
  margin: -50px 0;
}
main .percents {
  width: 100%;
}
main .percents .progress-container {
  width: 100%;
  background-color: #0e3f4d;
  border-radius: 5px;
  padding: 1px;
  box-shadow: 0 2px 5px #0000001a;
}
main .percents .percents-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
main .percents .percents-text .title {
  color: #2ed0ff;
}
main .percents .progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
}
main .percents .progress-bar {
  width: 0;
  height: 10px;
  background-color: #2ed0ff;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  animation: progress-animation 2s ease-in-out forwards;
}
main .percents .progress-bar-15 {
  width: 0;
  height: 10px;
  background-color: #2ed0ff;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  animation: progress-animation-15 2s ease-in-out forwards;
}
main .percents .progress-bar-10 {
  width: 0;
  height: 10px;
  background-color: #2ed0ff;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  animation: progress-animation-10 2s ease-in-out forwards;
}
main .percents .progress-bar-5 {
  width: 0;
  height: 10px;
  background-color: #2ed0ff;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  animation: progress-animation-5 2s ease-in-out forwards;
}
main .percents .progress-bar-51 {
  width: 0;
  height: 10px;
  background-color: #2ed0ff;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  animation: progress-animation-51 2s ease-in-out forwards;
}
main .percents .progress-value {
  margin-left: 10px;
  color: #2ed0ff;
    font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes progress-animation {
  0% {
    width: 0;
  }
  to {
    width: 65%;
  }
}
@keyframes progress-animation-15 {
  0% {
    width: 0;
  }
  to {
    width: 15%;
  }
}
@keyframes progress-animation-10 {
  0% {
    width: 0;
  }
  to {
    width: 10%;
  }
}
@keyframes progress-animation-5 {
  0% {
    width: 0;
  }
  to {
    width: 5%;
  }
}
@keyframes progress-animation-51 {
  0% {
    width: 0;
  }
  to {
    width: 5%;
  }
}
main .notebook {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
main .notebook .notebook-card {
  width: 80vw;
  max-width: 800px;
  margin: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
main .notebook .notebook-card .notebook-title {
  color: #2ed0ff;
    font-weight: 700;
  font-size: 25px;
}
main .notebook .notebook-card .notebook-text {
  color: #fff;
  font-size: 15px;
  text-align: center;
}
main .notebook .notebook-card img {
  width: 100%;
  margin: 30px 0;
}
main .giveaway {
  background: linear-gradient(to top, transparent,rgba(0, 0, 0, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.giveaway-loading {
  margin: 100px 0;
}
.giveaway-loading svg {
  width: 3.75em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}
.giveaway-loading circle {
  fill: none;
  stroke: #00c3dd;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}
main .giveaway .giveaway-card {
  display: none;
  width: 80vw;
  max-width: 1100px;
  margin: 30px 0;
  position: relative;
  min-height: 501px;
  border-radius: 15px;
  background: url('/assets/BACKGROUND-fy0gDmrd.webp') right bottom;
}
main .giveaway .giveaway-card .giveway-text {
  padding: 13px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 40px;
  left: 0;
}
main .giveaway .giveaway-card .giveway-text .giveaway-title {
  font-weight: 700;
  color: #2ed0ff;
  font-size: 30px;
}
main .giveaway .giveaway-card .giveway-text p {
  font-size: 14px;
  color: #ccc;
  font-weight: 200;
  max-width: 400px;
}
main .giveaway .giveaway-card .giveway-text h3 {
  font-size: 45px;
  font-weight: 900;
  background: -webkit-linear-gradient(left, #eee, #333, #eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
  line-height: 38px;
}
main .giveaway .giveaway-card .giveway-text h4 {
  font-size: 35px;
  font-weight: 800;
  background: -webkit-linear-gradient(right, #1481c0, #1b5155);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .giveaway .giveaway-card .giveway-text #giveaway-button {
  width: 118px;
  font-size: 9px;
  padding: 5px 0px;
  text-decoration: none;
  text-align: center;
}
main .giveaway .giveaway-card #gift {
  position: absolute;
  right: -70px;
  top: -50px;
  width: 250px;
}
main .giveaway .giveaway-card #car {
  position: absolute;
  width: 100%;
  right: -27px;
  bottom: 0px;
  min-width: 562px;
}
main .giveaway .giveaway-card img {
  width: 100%;
}

main .apostrofo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
main .apostrofo .apostrofo-card {
  width: 80vw;
  max-width: 800px;
  margin: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .apostrofo .apostrofo-card img {
  width: 250px;
  max-width: 24vw;
}
main .apostrofo .apostrofo-card .apostofro-text {
  width: 100%;
  min-width: 300px;
  max-width: 70vw;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  margin-left: -20px;
}
main .apostrofo .apostrofo-card .apostofro-text p {
  margin-top: 15px;
  font-weight: 700;
}
main .ai-startups {
  background: linear-gradient(to bottom, transparent,rgba(0, 0, 0, 0.8), #ffffff00);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px auto;
  gap: 20px;
  color: #fff;
  text-align: center;
}
main .ai-startups .ai-startups-card {
  color: #fff;
  background: rgba(79, 97, 124, 0.2);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  margin: 80px auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 8px;
}
.ai-startups .ai-startups-card h1 {
    font-weight: 700;
}
.ai-startups .ai-startups-card .ai-startups-text {
  width: 80%;
}
.ai-startups .ai-startups-text {
  width: min-content;
  max-width: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.ai-startups .startup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 10px 5px;
  gap: 30px;
}
.ai-startups .startup-buttons button {
  width: 200px;
  margin: 0 15px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  background-size: 150% 150%;
  box-shadow: 1px 1px 1px 1px #0a2d38;
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: 0.2s all;
  border-radius: 100px;
  border-radius: 58px;
  padding: 2px;
}
.ai-startups .startup-buttons button .ai-startup-buttons-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #10151E;
  border-radius: 58px;
  padding: 9px 24px;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 3px;
}
.ai-startups .startup-buttons button:hover {
  box-shadow: 0 0 10px #12b3eb;
  background: linear-gradient(90deg, #12b3eb, #5460f9, #12b3eb);
  animation: animacao;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: 0.2s all;
  color: #fff;
}
.faq {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background: linear-gradient(to top, #010d11, #021e27, #092831b2, #0928316b, #ffffff00);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transform: translateY(5px);
}
.faq-title {
  color: #2ed0ff;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
.faq h3 {
  font-size: 20px;
  font-weight: 600;
  font-weight: 400;
  text-align: center;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  text-align: center;
  background-color: linear-gradient(
    90deg,
    #092831 0%,
    rgba(28, 123, 151, 0) 58%
  );
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  h1 {
    font-size: 24px;
  }
}
footer {
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #010d11, #021e27);
}
footer .footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgb(8, 68, 83),
    #071e25
  ) !important;
  backdrop-filter: none;
  max-width: none;
}
footer .footer {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
  background: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 6px #0000001a;
  -webkit-backdrop-filter: blur(10px);
}
@supports not (
  (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))
) {
  footer .footer {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px #0000001a, inset 0 0 2000px #ffffff0d;
  }
}
.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}
.parent-container {
  position: relative;
}
footer .footer .footer-card {
  width: 100%;
  max-width: 1800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 130px;
  background: transparent !important;
}
footer .footer .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
footer .footer .logo img {
  width: 250px;
  margin-bottom: 10px;
}
footer .footer .logo p {
  font-size: 10px;
}
footer .our-sociais {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .our-sociais p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
footer .channels {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .channels img {
  width: 30px;
}
footer .text {
  color: #fff;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}
footer .footer .footer-card .text hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 10px 0;
}
footer .text p {
  font-size: 10px;
}

#alerta {
  visibility: hidden;
  opacity: 0;
  background-color: #03b5d2;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
  z-index: 99999;
}
#alerta.mostrar {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 99999;
}

@media screen and (max-width: 1126px) {
  main {
    margin-top: 97px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-size: 200vw;
  }
  .apresentation-text {
    padding: 30px 40px;
  }
  .apresentation-text h5 {
    margin-top: 0px;
  }
}
@media screen and (max-width: 1070px) {
  body {
    background-size: 2000px;
  }
  .menu-container {
    display: block;
  }
  header .bottom-header {
    padding: 15px 0;
    background-color: #000c;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
  }
  header .onTop {
    background-color: #000c;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
  header .bottom-header .options-list {
    display: none;
  }
  header .bottom-header .connect-wallet {
    display: none;
  }
  main {
    margin-top: 90px;
  }
  main .form .buttons button {
    width: 80vw;
  }
  main .banner .banner-area {
    flex-direction: column-reverse;
  }
  main .how-it-works .title h1{
    font-size: 40px !important;
  }
  main .how-it-works .how-it-works-card .image {
    width: 90vw;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
  #responsive-image {
    width: 100%;
    height: auto;
  }
  footer .ai-startups .ai-startups-card {
    margin: 70px auto;
    padding: 30px 50px;
  }
  .ai-startups .startup-buttons {
    gap: 15px;
  }
  footer .footer .footer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  footer .footer .footer-card h4 {
    margin: 0 auto;
  }
  footer .footer .footer-card .text {
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  #hamburger {
    display: block;
    right: 100px;
  }
}
@media screen and (max-width: 768px) {
  body {
    background-size: 1900px;
  }
  #hamburger {
    display: block;
    right: 70px;
  }
  .apresentation .apresentation-actions {
    margin-bottom: 70px;
    flex-direction: column;
    gap: 15px;
  }
  .apresentation .apresentation-actions ul {
    padding: 0;
  }
  .card-form .title-form {
    font-size: 18px;
  }
  .card-form .buy-options {
    gap: 3px;
  }
  .buy-options button {
    font-size: 14px;
    padding: 10px;
  }
  main .card-form .converter form {
    display: flex;
    flex-direction: column;
  }
  main .card-form .converter input {
    max-width: 80vw;
  }
  main .banner .banner-area .banner-text h1 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
  }
  main .banner .banner-area .banner-text {
    font-size: 16px;
    text-align: left;
    min-width: 310px;
    max-width: 80vw;
  }
  main .notebook .notebook-card .notebook-title {
    font-size: 16px;
  }
  main .ai-action-card .title {
    font-size: 24px;
  }
  main .ai-action-card .subtitle {
    font-size: 24px;
  }
  main .ai-action-card .ai-buttons {
    gap: 10px;
  }
  main .ai-action-card .descript {
    text-align: justify;
    min-width: 310px;
  }
  main .staking .staking-text {
    text-align: justify;
  }
  main .how-it-works .how-it-works-card .title h1 {
    font-size: 25px !important;
  }
  main .how-it-works .how-it-works-card .image img {
    content: url(HOW\ IT\ WORKS\ MOBILE.png);
  }
  main .notebook .notebook-card .notebook-text {
    text-align: justify;
  }
  main .tokenomics .tokenomics-card .title h1 {
    font-weight: 700;
    font-size: 24px;
  }
  main .tokenomics .tokenomics-card .percents .title {
    font-size: 14px;
  }
  main .tokenomics .tokenomics-card .coin {
    width: 90vw;
    max-width: 800px;
  }
  main .tokenomics .tokenomics-card .coin img {
    width: 100%;
  }
  footer .ai-startups .ai-startups-card h1 {
    font-weight: 700;
    font-size: 24px;
  }
  main .giveaway .giveaway-card {
    min-height: 626px;
  }
  main .giveaway .giveaway-card #gift {
    width: 200px;
    right: -40px;
  }
  main .giveaway .giveaway-card .giveway-text {
    padding: 13px 20px;
  }
  main .giveaway .giveaway-card .giveway-text .giveaway-title {
    font-size: 14px;
  }
  main .giveaway .giveaway-card .giveway-text h3 {
    font-size: 30px;
  }
  main .giveaway .giveaway-card .giveway-text h4 {
    font-size: 25px;
  }
  main .apostrofo .apostrofo-card {
    margin: 80px 10px;
    display: flex;
    flex-direction: column;
    transform: translateY(50px);
  }
  main .apostrofo .apostrofo-card img {
    width: 250px;
    max-width: 70vw;
    margin-bottom: -250px;
    opacity: .4;
  }
  main .apostrofo .apostrofo-card .apostofro-text {
    text-align: center;
    margin: 0;
  }
}
@media screen and (max-width: 540px) {
  body {
    background-size: 2000px;
  }
  #hamburger {
    display: block;
    right: 30px;
  }
  main .form {
    padding: 0;
    max-width: 90%;
    margin: 0 auto;
  }
  main .form .card-form {
    padding: 40px 5px;
  }
  main .card-form .converter form {
    margin-left: 0;
  }
  main .card-form .converter input {
    max-width: 80vw;
  }
  main .ai-action-card .ai-buttons {
    flex-direction: column;
  }
  main .ai-action-card .ai-buttons button {
    width: 90vw;
  }
  main .tokenomics .tokenomics-card .percents-text {
    display: flex;
    gap: 10px;
    text-align: center;
  }
  main .percents {
    width: 80vw;
  }
  main .ai-startups .ai-startups-card h1 {
      font-weight: 700;
    font-size: 24px;
  }
  .ai-startups .startup-buttons {
    flex-direction: column;
    padding: 40px 0;
  }
  .ai-startups .startup-buttons button {
    width: 90vw;
  }
  footer .ai-startups .ai-startups-card {
    padding: 20px 25px;
  }
  main .ai-startups .ai-startups-card {
    margin: 0 auto;
    border-radius: 0;
    padding: 70px 0;
  }
  main .staking .staking-text,
  main .notebook .notebook-card .notebook-text,
  main .ai-action-card .descript {
    text-align: center;
  }
}
.faq-item-hide {
  display: none;
}
.faq-heading {
  padding-top: 15px;
  font-weight: 600;
  font-size: 19px;
  text-indent: 10px;
  color: #ffffff;
  transition: text-indent 0.2s;
}
.faq-heading:hover,
.faq-heading:focus,
.faq-heading:active {
  color: #03b5d2;
}
.faq-text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  padding-left: 20px;
  padding-right: 100px;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.faqWrapper {
  max-width: 900px;
  margin: 0 auto;
  background: transparent;
  border-radius: 4px;
  position: relative;
}
.faqWrapper label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 50px;
  padding-top: 8px;
  padding-bottom: 10px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
.faqWrapper input[type="checkbox"] {
  display: none;
}
.faqWrapper .faq-arrow {
  width: 10px;
  height: 10px;
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid #03b5d2;
  border-right: 2px solid #03b5d2;
  float: right;
  position: relative;
  top: -30px;
  right: 27px;
  transform: rotate(45deg);
}
.faqWrapper input[type="checkbox"]:checked + label > .faq-arrow {
  transform: rotate(135deg);
}
.faqWrapper input[type="checkbox"]:checked + label {
  color: #7288a2;
  height: auto;
  transition: height 0.8s, border 0.3s ease;
  padding-top: 0;
}
.faqWrapper input[type="checkbox"]:not(:checked) + label {
  height: 70px;
}
.faqWrapper label:hover,
.faqWrapper input[type="checkbox"]:checked + label {
  border-left: 3px solid #03b5d2;
  padding-left: 17px;
}
.faqWrapper input[type="checkbox"]:checked + label .faq-text {
  opacity: 1;
}
.faqWrapper input[type="checkbox"]:checked + label .faq-heading {
  color: #03b5d2;
}
@media (max-width: 768px) {
  .faq-heading {
    font-size: 12px;
    padding-right: 40px;
    padding-left: 10px;
    text-indent: 0px;
  }
  .navbar-collapse {
    background-color: #000 !important;
    padding: 10px;
  }
  .navbar-brand {
    margin: 0;
  }
  .faq-text {
    font-size: 12px;
    padding-right: 50px;
  }
  .faqWrapper input[type="checkbox"]:not(:checked) + label {
    height: 60px;
  }
}
#showMore,
#showLess {
  display: inline-block;
  margin: 20px auto;
  background-color: transparent;
  color: #7288a2;
  font-weight: 500;
  font-size: 18px;
  border: none;
  cursor: pointer;
  padding: 10px 40px 10px 20px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-repeat: no-repeat;
  background-position: right 5px center;
}
#showMore:hover,
#showLess:hover {
  color: #4fbb9d;
  transition: background-color 0.3s;
}
.stgbtn {
  background-color: #3d3d3d;
  color: #fff;
  padding: 10px 10px;
  border-radius: 50px !important;
  font-size: 13px;
}

.stgbtn.stage{
  box-shadow: 
  0 0 0 8px rgba(14, 157, 168, 0.6),
  inset 0 0 5px rgba(12, 138, 144, .7),
  0 1px 1px 1px rgba(255, 255, 255, 0.4);
  -webkit-animation: loading 2s infinite ease-in-out;
  -moz-animation: loading 2s infinite ease-in-out;
  animation: loading 2s infinite ease-in-out;
}

@-webkit-keyframes loading {
  0% {
    box-shadow: 
      0 0 0 8px rgba(11, 121, 133, 0.45),
      0 0 0 4px rgba(11, 121, 133, 0.65),
      0 0 0 2px rgba(11, 121, 133, 0.85),
      inset 0 0 1px 1px rgba(0, 0, 0, 0.5),
      0 0 5px 2px #02191B;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 
      0 0 0 8px rgba(11, 121, 133, 0.45),
      0 0 0 4px rgba(11, 121, 133, 0.65),
      0 0 0 2px rgba(11, 121, 133, 0.85),
      inset 0 0 1px 1px rgba(0, 0, 0, 0.5),
      0 0 5px 2px #02191B;
  }
}

@keyframes loading {
  0% {
    box-shadow: 
      0 0 0 8px rgba(11, 121, 133, 0.45),
      0 0 0 4px rgba(11, 121, 133, 0.65),
      0 0 0 2px rgba(11, 121, 133, 0.85),
      inset 0 0 1px 1px rgba(0, 0, 0, 0.5),
      0 0 5px 2px #02191B;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 
      0 0 0 8px rgba(11, 121, 133, 0.45),
      0 0 0 4px rgba(11, 121, 133, 0.65),
      0 0 0 2px rgba(11, 121, 133, 0.85),
      inset 0 0 1px 1px rgba(0, 0, 0, 0.5),
      0 0 5px 2px #02191B;
  }
}

.stgbtn22 {
  background-color: #3f87d9;
  color: #1d1d1d;
  padding: 1px 20px !important;
  border-radius: 50px !important;
  font-size: 19px;
  border: 4px solid #3a66986d;
}
.section2__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #020202;
  font-weight: 700;
}
.progress {
  background-color: transparent !important;
  height: 25px !important;
}
.section2__progressBarContainer {
  flex: 1;
  width: 100%;
  height: 25px;
  max-width: 400px;
  margin-top: 15px;
  border-radius: 45px;
  overflow: hidden;
  background-color: #242424 !important;
}
.card-change {
  width: 80% !important;
  background: linear-gradient(45deg, #070d2b, #000312);
  margin-top: 40px !important;
  border-radius: 30px;
  border: 2px solid #f9e663;
}
.card-changes {
  border-width: 5px;
  border-style: solid;
}
.section2__progressBar {
  height: 100%;
  background-color: #0000bc;
  position: relative;
}
.section2__progressBarRect {
  height: 100% !important;
  position: absolute;
  background: linear-gradient(to right, #5c5c5c, #3b8ae1) !important;
  border-radius: 50px !important;
  left: 0 !important;
}
.section2__progressBarCircle {
  width: 30px;
  height: 40px;
  background-color: #3b8ae1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
}
.section2__progressBarPoint {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #e8ecef;
}
.section2__text {
  display: flex;
}
.section2__text--bold {
  font-weight: var(--boldFont);
  color: #45ff4b;
}
.section2__progressBarContainer {
  margin-top: 15px;
  position: relative;
}
.section2__progressBar {
  background-color: #242424;
  width: 100%;
  height: 45px;
  padding: 2px;
  border-radius: 5px !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section2__progressBarRect {
  background-repeat: no-repeat;
  height: 100%;
  padding: 2px;
  border-radius: inherit;
  animation: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.section2__progressBarCircle {
  background-color: var(--color5);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-shadow: #00000029 0 1px 4px;
  background-image: url(images/cat-logo.png);
}
.section2__progressBarPoint {
  color: #1df9ab;
  margin-top: 8px;
  font-size: 12px;
  font-weight: var(--boldFont);
  position: absolute;
}
.section2__progressBarPoint--start {
  left: 0;
}
.section2__progressBarPoint--end {
  right: 0;
}
.section2__storageLeft {
  background-color: var(--color5);
  width: 100%;
  padding: 20px;
  border-radius: 8px 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 30px;
  transform: translateY(-70%);
}
.section2__storageLeft:before {
  content: "";
  width: 0;
  height: 0;
  border: solid 20px;
  border-color: transparent var(--color5) transparent transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
}
.section2__storageLeftDigits {
  color: var(--color0);
  font-size: 32px;
  font-weight: var(--boldFont);
}
.section2__storageLeftText {
  color: var(--color3);
  margin-left: 7px;
  font-weight: var(--boldFont);
  letter-spacing: 1px;
}
.numbers {
  max-width: 400px;
}
.input-container {
  position: relative;
  display: inline-block;
  background-color: #242424 !important;
  border-radius: 11px;
}
.input-logo {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px !important;
  width: 30px !important;
  pointer-events: none;
}
.newinput {
  padding: 27px 50px;
  height: 30px;
  border-radius: 11px;
  width: 100%;
  background-color: #242424 !important;
  border: 1px solid #2c2c2c;
  color: #fff;
}
#purchaseButton {
  display: none;
  width: 250px;
  height: 50px;
  border: none;
}
#approveButton {
  display: none;
  width: 250px;
  border: none;
  height: 50px;
  background-color: none !important;
}
#purchaseButtonUSDT {
  display: none;
  color: #fff;
  width: 220px;
  border-radius: 40px;
  height: 50px;
}
.app-card-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
#claimTokens {
  display: none;
  border: none;
  background: transparent;
}
.input-icon-wrap {
  width: 96%;
  height: 60px;
  align-items: center;
  border: 1px solid #3f3f3f;
  border-radius: 25px;
  padding: 0 15px;
  color: #fff;
}
.input-with-icon {
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  width: 90%;
}
.claimbtn {
  width: 380px;
  height: 50px;
  margin-top: 30px;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}
.buybtn {
  padding: 10px;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.payment-types {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #fff;
}

.payment-types a {
  color: #fff;
  padding: 10px 10px;
  width: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  border: 2px solid #636363;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
}

#ETHbutton.active,
#USDTbutton.active {
  border: 2px solid #1c9cde;
}
.conbtn {
  border-radius: 100px;
  background: linear-gradient(104deg, rgb(0, 115, 255) 0%, rgb(170, 170, 170) 94%);
  border-radius: 58px;
  padding: 2px;
}
.contbtn-content {
  background-color: rgb(2, 7, 13);
  border-radius: 58px;
  padding: 9px 24px;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 3px;
}
.conbtn:hover > .contbtn-content {
  background: transparent;
}
@font-face {
  font-family: cardfont;
  src: url(/assets/Poppins-Light-0-vgrCHX.ttf);
}
@font-face {
  font-family: NeuePlak;
  src: url(/assets/NeuePlak-WideBold.ttf);
}
.newfontcard {
    font-weight: 700;
}
.cardbgset {
  width: 500px;
  max-width: 85vw;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  padding: 20px;
  border: 2px solid #353535;
  border-radius: 10px;
}
.newrowsett {
  width: 93%;
  max-width: 400px;
  margin: auto !important;
}
.buytokenfont {
  font-size: 22px;
}
.numberfont {
  font-size: 22px;
}
.navbartop {
  padding: 18px 10px !important;
}
.navbar-scrolled {
  background-color: #000000b0 !important;
  transition: background-color 0.3s ease-in-out;
}
.tooltipBtn {
  position: relative;
  cursor: pointer;
  border: solid 1px #fff;
  border-radius: 25px;
  padding: 10px;
}
.tooltipContent {
  display: none;
  position: absolute;
  background-color: #1a1a1a;
  border: 1px solid #3d3d3d;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
  font-size: 14px;
}
.tooltipPara {
  color: #fff;
}
.tooltipBtn:hover .tooltipContent {
  display: block;
}
@media screen and (max-width: 768px) {
  .numberfont {
    font-size: 17px;
  }
  .stgbtn {
    padding: 5px 10px !important;
    height: 40px;
    width: 90px;
    text-align: center;
    align-content: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buytokenfont {
    font-size: 18px;
  }
  .stgbtn22 {
    padding: 1px 10px !important;
  }
  .newrowsett {
    width: 100% !important;
    margin: auto !important;
  }
  .input-icon-wrap {
    width: 100%;
    padding: 0 2px;
  }
  .add-auster:before {
    left: 0;
    margin-left: -40px;
  }
  .add-auster:after {
    right: 0;
    margin-right: -40px;
  }
}

/* chat support huspot */

#hubspot-messages-iframe-container {
  color-scheme : light;
}